<h1>Hello world</h1>

<p>Mon niveau est <%= @user.level %></p>
<%= form_tag profile_path , method: :get do %>
  <%= select_tag :level,
    options_for_select(["Beginner", "Elementary", "Intermediate", "Advanced", "Mastery"],@user.level)
  %>

  <p>Mes favoris</p>
  <% @favorite_spots.each do |fav| %>
    <p><%= fav.surf_spot.location %> spot</p>
  <% end %>
  
  <p>Ma photo</p>


  <%# ---------- SUBMIT --------- %>
  <button name="button" type="submit">
    Save
  </button>
<% end %>

<%# collection: ["Beginner", "Elementary", "Intermediate", "Advanced", "Mastery"] %>

