// Specific CSS for your home-page

.container {
    max-width: 1360px;
    padding-right: 3rem;
    padding-left: 3rem
}

@media (max-width:991px) {
    .container {
        padding-right: 2rem !important;
        padding-left: 2rem !important
    }
}

@media (max-width:767px) {
    .container {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important
    }
}

@media (max-width:575px) {
    .container {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }
}

@media (min-width:1456px) {
    .container {
        padding-right: 0;
        padding-left: 0
    }
}

.container.container-large {
    max-width: 1638px;
    padding-right: 3rem;
    padding-left: 3rem;
}

@media (min-width:1732px) {
    .container.container-large {
        padding-right: 0;
        padding-left: 0
    }
}

.container.container-small {
    max-width: 1060px
}

footer {
    background-color: #081a33
}

@media (max-width:991px) {
    footer>p {
        padding: 0 2rem
    }
}

footer a:hover {
    color: #fff
}

@media (max-width:991px) {
    c .infos {
        text-align: center;
        margin-bottom: 2rem
    }
}

footer .logo {
    max-width: 170px
}

@media (max-width:991px) {
    footer .logo {
        margin: auto
    }
}

@media (max-width:991px) {
    footer .social {
        display: none
    }
}

footer .social img {
    max-width: 25px;
    max-height: 25px
}

footer .mobile-social {
    display: none;
    margin-top: 2rem
}

@media (max-width:991px) {
    footer .mobile-social {
        display: flex
    }

    footer .mobile-social ul {
        width: 100%;
        justify-content: center;
        font-size: 2em
    }
}

@media (max-width:991px) and (max-width:575px) {
    footer .mobile-social ul {
        justify-content: space-around
    }
}

@media (max-width:991px) {
    footer .mobile-social ul li {
        margin: 0 1.5rem
    }

    footer .mobile-social ul li img {
        max-width: 35px;
        max-height: 35px
    }
}

footer .menus nav {
    margin-right: 3rem
}

@media (max-width:991px) {
    footer .menus {
        flex-direction: column;
        text-align: center
    }

    footer .menus nav {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        margin-right: 0
    }

    footer .menus p {
        font-size: 1.5rem
    }

    footer .menus ul {
        font-size: 1.2rem;
    }
}

footer .stores img {
    max-width: 120px
}

@media (max-width:991px) {
    footer .stores {
        display: none
    }
}

footer .mobile-stores {
    display: none
}

footer .mobile-stores img {
    max-width: 150px
}

@media (max-width:991px) {
    footer .mobile-stores {
        display: block
    }
}

footer .preview img {
    max-width: 130px;
    position: absolute;
    top: -100px
}

@media (max-width:1350px) {
    footer .preview img {
        max-width: 150px
    }
}

@media (max-width:1199px) {
    footer .preview img {
        max-width: 110px;
        top: -80px
    }
}

@media (max-width:1100px) {
    footer .preview img {
        max-width: 75px;
        top: -15px
    }
}

@media (max-width:991px) {
    footer .preview {
        display: none !important
    }
}

.card {
    border-radius: 5px;
    border: none
}

.white-card {
    background-color: #fff
}

.blue-card {
    background-color: #00b5d9
}

.deep-blue-card {
    background-color: #081a33
}

.plainsailing-card {
    background-color: #3686dd
}

.dark-blue-card {
    background-color: #113a73
}

.light-grey-card {
    background-color: #f0f5fa
}

.shadow-card {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .12)
}

.border-card {
    border: 1px solid #e1ebf5
}

.background-radar,
.cover-image-card {
    background-size: cover
}


.sm-rounded {
    border-radius: 4px
}

.sm-plus-rounded {
    border-radius: 10px
}

.md-rounded {
    border-radius: 15px
}

.big-rounded {
    border-radius: 50px
}

.full-rounded {
    border-radius: 100%
}

.btn {
    border-radius: 50px;
    padding: 8px 40px;
    border: none;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: all .2s
}

.btn-light {
    color: #fff;
    background-color: #00b5d9
}

.btn-light:hover {
    color: #fff;
    background-color: #00a0c0
}

.btn-plainsailing {
    background: #081a33;
    color: #fff
}

.btn-plainsailing:hover {
    color: #fff;
    background-color: #0b2549
}

.btn-premium {
    color: white;
    background-color: #113a73
}

.btn-premium:hover {
    color: #fff;
    background-color: #0e2f5d
}

.btn-white {
    color: #081a33;
    background-color: #fff;
    border: 1px solid #82a1bf
}
.btn-white:hover {
    color: #fff;
    background-color: #081a33;
    border: 1px solid #081a33
}

.btn-white-primary {
    color: #00b5d9;
    background-color: #fff;
    border: 1px solid #fff
}

.btn-white-primary:hover {
    color: #fff;
    background-color: #00b5d9
}

.btn-grey {
    color: #113a73;
    background-color: #f0f5fa
}

.btn-transparent {
    color: #fff;
    background-color: hsla(0, 0%, 100%, 0);
    border: 2px solid #fff
}

.btn-transparent:hover {
    color: #00b5d9;
    background-color: #fff;
    border: 2px solid #fff
}

.btn-sm-rounded {
    border-radius: 8px
}

.btn-lg-padding {
    padding: 12px 50px
}

.btn-rate {
    float: left;
    padding: 2.5rem 0
}

.text-rubik {
    font-family: rubik, sans-serif
}

.text-white {
    color: #fff
}

.text-plainsailing {
    color: #081a33
}

.text-grey-medium {
    color: #a3a3a3
}

.text-black {
    color: #000
}

.text-main-deep-color {
    color: #081a33
}

.text-main-dark-color {
    color: #113a73
}

.text-main-color {
    color: #1b5ab3
}

.text-main-light-color {
    color: #00b5d9;
}

.text-third-color {
    color: #d6a95c
}

.text-secondary-color {
    color: #82a1bf
}

.text-secondary-light-color {
    color: #e1ebf5
}

.text-cart-icons {
    font-size: .7rem;
    word-wrap: break-word
}

@media (max-width:1000px) {
    .text-cart-icons {
        font-size: .6rem;
        word-wrap: break-word
    }
}

.text-weight-500 {
    font-weight: 500
}

.text-weight-700 {
    font-weight: 700
}

.text-xs {
    font-size: .6rem
}

.text-xs-plus {
    font-size: .7rem
}

.text-sm {
    font-size: .8rem
}

.text-sm-plus {
    font-size: .9rem
}

.text-md {
    font-size: 1rem
}

.text-md-plus {
    font-size: 1.2rem
}

.text-lg {
    font-size: 1.5rem
}

.text-xl {
    font-size: 1.8rem
}

.text-xl-plus {
    font-size: 2.2rem
}

.text-xxl {
    font-size: 3rem
}

@media (max-width:1350px) {
    .text-xxl {
        font-size: 2.3rem
    }
}

@media (max-width:550px) {
    .text-xxl {
        font-size: 1.7rem
    }
}

.text-small-jumbo {
    font-size: 3.5rem
}

.text-jumbo {
    font-size: 4.5rem
}

.text-underline {
    text-decoration: underline !important
}

.text-reset {
    text-transform: none
}

.auto-line-height {
    line-height: normal !important
}

.md-line-height {
    line-height: 1.5em
}

.wrapper-input {
    min-width: 200px;
    overflow: hidden
}

.wrapper-input,
input {
    background-color: #f0f5fa;
    color: #82a1bf
}

input {
    border: none;
    outline: none;
    padding: 8px 25px
}

input::-moz-placeholder {
    color: #82a1bf
}

input:-ms-input-placeholder {
    color: #82a1bf
}

input::placeholder {
    color: #82a1bf
}


.xs-icon {
    width: 10px !important;
    min-width: 10px
}

.sm-icon {
    width: 18px !important;
    min-width: 18px
}

.sm-plus-icon {
    width: 35px !important;
    min-width: 25px
}

.md-icon {
    width: 50px !important
}

.lg-picture {
    position: relative;
    overflow: hidden;
    width: 110px !important;
    height: 110px
}

@media (max-width:1450px) {
    .lg-picture {
        width: 90px !important;
        height: 90px
    }
}

.md-picture {
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 90px
}

@media (max-width:1450px) {
    .md-picture {
        width: 70px;
        height: 70px
    }
}

.search-module {
    max-width: 850px;
    margin-bottom: 2rem;
    padding: 2rem !important;
    border-radius: 100px;
}

.search-module form label {
    font-weight: 700;
}

.search-module form input {
    margin-right: 3rem;
    background-color: transparent;
    padding: 0;
}


.search-module a {
    min-width: 220px;
    margin-left: 10px;
}

@media (max-width:991px) {
    .search-module a {
        min-width: 175px;
        padding: 8px 10px;
    }
}

@media (max-width:767px) {
    .search-module {
        background: none;
        margin-bottom: 0;
        padding: 1rem;
        box-shadow: none;
    }

    .search-module label {
        text-align: center;
        color: #fff;
        margin-bottom: 10px
    }

    .search-module form {
        flex-direction: column
    }

    .search-module form>* {
        width: 100%
    }

    .search-module form label {
        font-weight: 300
    }

    .search-module form input {
        padding: .7rem 1.5rem;
        background-color: #fff;
        border-radius: 100px
    }

    .search-module form a {
        color: #fff;
        background-color: hsla(0, 0%, 100%, 0);
        border: 2px solid #fff;
        margin: 5px 0
    }

    .search-module form a:hover {
        color: #00b5d9;
        background-color: #fff;
        border: 2px solid #fff
    }

    .search-module form .search-btn {
        display: none
    }
}

.mosaic-pictures {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 290px);
    grid-gap: 20px;
    grid-auto-flow: dense
}

@media (max-width:1350px) {
    .mosaic-pictures {
        grid-template-rows: repeat(2, 200px)
    }
}

@media (max-width:1280px) {
    .mosaic-pictures {
        grid-template-rows: repeat(2, 200px);
        grid-template-columns: repeat(6, 1fr)
    }
}

@media (max-width:991px) {
    .mosaic-pictures {
        grid-template-rows: repeat(3, 250px);
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width:767px) {
    .mosaic-pictures {
        grid-template-rows: repeat(4, 30%);
        grid-template-columns: repeat(2, 1fr)
    }
}

.mosaic-pictures .tile:first-of-type {
    order: 1
}

.mosaic-pictures .card:nth-of-type(2) {
    order: 2
}

@media (max-width:991px) {
    .mosaic-pictures .card:nth-of-type(2) {
        order: 4
    }
}

.mosaic-pictures .card:nth-of-type(3) {
    order: 3
}

@media (max-width:991px) {
    .mosaic-pictures .card:nth-of-type(3) {
        order: 2
    }
}

.mosaic-pictures .card:nth-of-type(4) {
    order: 4
}

@media (max-width:1280px) {
    .mosaic-pictures .card:nth-of-type(4) {
        order: 5
    }
}

.mosaic-pictures .card:nth-of-type(5) {
    order: 5
}

@media (max-width:1280px) {
    .mosaic-pictures .card:nth-of-type(5) {
        order: 3
    }
}

.mosaic-pictures .card:nth-of-type(6) {
    order: 6
}

@media (max-width:1280px) {
    .mosaic-pictures .card:nth-of-type(6) {
        display: none
    }
}

.mosaic-pictures .card:nth-of-type(7) {
    order: 7
}

.mosaic-pictures .featured-col {
    grid-row: span 1;
    grid-column: span 2
}

@media (max-width:767px) {
    .mosaic-pictures .featured-col {
        grid-column: span 1
    }
}

.mosaic-pictures .long-card {
    grid-column-start: span 2;
    grid-row-start: span 2
}

@media (max-width:767px) {
    .mosaic-pictures .long-card {
        grid-column-start: span 1;
        grid-row-start: span 1
    }
}

.mosaic-pictures .card {
    overflow: hidden
}

.mosaic-pictures .card picture {
    height: 100%
}

.mosaic-pictures .card .card-img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.cards1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards1 {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards1 {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards1 {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card1-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.card1-category:hover {
  transform: scale(1.04);
}
.logo{
  height: 100px;
}
.title-custom{
  color: white;
  text-align: left;
  padding-left: 15px;
  max-width: 290px;
}

.h1-title{
  font-size: 50px;
  font-weight: 700;
}
label{
  display: none;
}
