.search-bar-absolute{
  position: absolute;
  top : 30px;
  left:42px;
  z-index: 1000;
  width: 300px;
}
.card-absolute{
  position: fixed;
  bottom: 75px;
  z-index: 1000;
}
.test-card{
  display: flex;
  height: 125px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
}
.test-card-details{
  width: 100%;
  color:black;
}
.test-card-img{
  width: 30% !important;
  height: 30% !important;
  margin: auto;
}
.item-solo{
  margin-left: 47px;
}
#search_location{
  border-radius: 30px;
}
