.mapboxgl-popup-content{
  padding: 0px !important;
  width:350px;
}
.mapboxgl-popup-content{
  text-align: left !important;
}
.custom-img{
  padding-right: 20px;
}
.spot-card-img-modal{
  border-radius: 0px !important;
  width: 110px;
  height: 110px;
}
.picto{
  font-size: 20px;
}
i{
  margin-right: 5px;
}
.localisation{
  background-color: $mediumblue;
  border-radius: 10px;
  padding: 10px;
}
.carousel-img{
  width: 100%;
}

.stat-container{
  margin: 4px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.308);
}

.show-container{
  color: rgb(107, 105, 105);
}


.schedules{
display: flex;
flex-wrap: wrap;
-moz-column-gap: .5rem;
column-gap: .5rem;
padding: 0px !important;
}
.schedule{
flex: 1;
border-radius: 6px;
height: 50px;
line-height: 50px;
text-align: center;
font-weight: bolder;
font-size: 28px;
}
.schedule.active{
text-decoration: none;
background-color: white;
}
.level{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 5px solid black;
}
.show-header{
  position: relative;
}
.nav-absolute-left{
  position: absolute;
  left: 15px;
  top:10px;
  color: white;
  z-index: 1000;
}
.nav-absolute-right{
  position: absolute;
  right: 15px;
  top:17px;
  color: white;
  z-index: 1000;
}
.nav-i-back{
  font-size: 35px;
  color: $darkblue;
}
.nav-i-fav{
  font-size: 25px;
  color: white;
}
.surf_spot_conditions{
  background-color: #EFFFFD;
}
.form-control{
  border: 1px solid $darkblue !important;
}

.surf_spot_title > p{
  font-size: 20px;
  margin-bottom: 0;
}

.surf-condition-card i{
  color: #42C2FF;
}
