// colors light theme
$white: #fff;
$black: #000;
$grey: #c4c4c4;
$grey-md: #cbcbcb;
$grey-lt: #E5E5E5;
$lighter: #ebe7e7;

// screen sizes
$full-hd: 1920px;
$hd: 1440px;
$laptop: 1366px;
$laptop-sm: 1199px;
$tablet: 1023px;
$tablet-sm: 991px;
$mobile: 767px;
$mobile-sm: 550px;
$xsm: 340px;
