<div class="spot__item">
    <div class="spot__item__img">
        <p class="spot__item__img__title">Biarritz</p>
        <img src="assets/img/camera.svg" alt="camera-icon">
        <div class="spot__item__img__rating">
            <img src="assets/img/star.svg" alt="star-icon">
            <p>4.0</p>
        </div>
    </div>

    <div class="spot__item__details favorite">
        <div class="spot__item__details__box">
            <div class="spot__item__details__img">
                <img src="assets/img/water-solid.svg" alt="water-icon">
            </div>
            <p>1.5 m</p>
        </div>

        <div class="spot__item__details__box">
            <div class="spot__item__details__img">
                <img src="assets/img/wind-solid.svg" alt="wind-icon">
            </div>
            <p>3.0</p>
        </div>

        <div class="spot__item__details__box">
            <div class="spot__item__details__img">
                <img src="assets/img/temperature.svg" alt="temperature-icon">
            </div>
            <p>25.0</p>
        </div>
    </div>
</div>