<div data-controller="favorite" class="text-right picto">
  <% if current_user.favorite_spots.pluck(:surf_spot_id).include?(surf_spot.id) %>
    <%= link_to icon('fas','heart') , surf_spot_favorite_path(surf_spot), remote: true, class: "test fav" , data: { action: "click->favorite#toggle" } %>
  <% else %>
    <%= link_to icon('fas','heart'), surf_spot_favorite_path(surf_spot), remote: true, class: "test" , data: { action: "click->favorite#toggle" } %>
  <% end %>
</div>
