
<section class="relative home-video-wrapper home-video-wrapper-background mt-0">

<section class="relative home-search-wrapper">


    <div class="text-center title">
        <h1 class="mt-2 text-white text-weight-700 text-xl-plus">Find the best surf spots around you according to your level</h1>
    </div>


    <div class="mx-auto search-module card shadow-card md-rounded">
      <div class="m-5"><%= render 'shared/search_bar' %></div>
    </div>

</section>


    <img src="https://feel-surf.com/themes/Feel-surf/assets/img/pic_gauche.png" loading="lazy" alt="" class="picture">
    <video id="home-video" playsinline autoplay muted loop class="video" data-placeholder-url="/videos/placeholder_homepage_3_hd.jpg">
        <source src="https://storage.coverr.co/videos/hivOChMPoplz3YNyy00aEBonCQR02NWbKM?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjQ0NTIyOTMzfQ.-H1EaN3l5DnhXpsiHK2KFzqJij6Ui3YPcLKJBOp5BXA" type="video/mp4">
    </video>

    <div class="black-filter"></div>

</section>

</section>


    <section class="container">
    <h2 class="mb-2 text-xl text-weight-700">
                    Surfbody users' favorite spots
    </h2>
   <p class="mb-4">
        Biarritz, La Tochelle, La Ciotat, the Surfbody community lives without borders and sails on all the waters of France. Need inspiration for your next surf session? Here are some ideas to get you started...</section>

  <div class="cards1 mr-4 ml-4">
  <div class="card1-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tourisme.biarritz.fr/sites/default/files/biarritz_en_janvier.jpg)">
    Biarritz
  </div>

  <div class="card1-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.fnaim.fr/uploads/Image/10/3756_198_Hossegor.jpg)">
    Hossegor
  </div>

  <div class="card1-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.camping-lacailletiere.com/wp-content/uploads/2019/07/camping-bord-de-mer-ile-oleron-plage.jpg)">
    Oléron
  </div>
</div>
    <section class="container container-large mt-6 header-content app-previews-content">
    <div class="card deep-blue-card app-previews md-rounded">
        <div class="container">
            <div class="infos">
                <h2 class="text-lg text-third-color text-weight-700 mb-4">Discover the most innovative surf guide</h2>

                <ul class="preview-labels owl-carousel">
                    <li class="mb-4 text-white d-flex pointer" data-preview="1">
                        <img src="https://i.goopics.net/r13jx8.png" loading="lazy" class="mr-1 sm-plus-icon">
                        <p class="mx-3">More than 230 beaches referenced by the community</p>
                    </li>

                    <li class="mb-4 text-white d-flex pointer" data-preview="3">
                        <img src="https://i.goopics.net/gfwcyv.png" loading="lazy" alt="Icone avis" class="mr-1 sm-plus-icon">
                        <p class="mx-3">10,000 comments and photos from the community to guide you</p>
                    </li>

                    <li class="mb-4 text-white d-flex pointer" data-preview="4">
                        <img src="https://i.goopics.net/syr7mm.png" loading="lazy" alt="Icone itinéraire" class="mr-1 sm-plus-icon">
                        <p class="mx-3">Surf spots in all weathers, for all levels</p>
                    </li>

                    <li class="mb-5 text-white d-flex pointer" data-preview="5">
                        <img src="https://i.goopics.net/bs8x1h.png" loading="lazy" alt="Icone phare" class="mr-1 sm-plus-icon">
                        <p class="mx-3">Chat with other users nearby and get help in real time</p>
                    </li>
                </ul>

            </div>

            <div class="text-center pictures">
                <div>
                    <picture>
                        <source srcset="https://i.goopics.net/2acsd7.png" type="image/jpg">
                        <img src="https://i.goopics.net/2acsd7.png" loading="lazy" alt="Aperçu application premium" id="preview-1">
                    </picture>
                </div>
            </div>

            <div class="map-btn">
                <a href="" class="btn btn-light btn-lg-padding text-md">Explore the map</a>
            </div>
        </div>
    </div>
</section>

   <section class="container py-6 reviews">
    <h2 class="text-xl text-center text-weight-700 title">Join the largest community of surfers in France !</h2>
    <p class="mb-4 text-center">On Surfbody, over 350,000 users share their experiences on their best spots. Soak up their stories and tips by joining the community!</p>

    <div class="d-flex justify-content-center stores">

        <div class="d-flex align-items-center">
            <a href="" target="_blank">
                <img src="https://logo-marque.com/wp-content/uploads/2021/02/App-Store-Logo.png" loading="lazy" alt="Logo Apple store" class="mr-3 brand-logo">
            </a>
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/4.5_stars.svg/1024px-4.5_stars.svg.png" loading="lazy" alt="Note Apple store" class="rating-star">
                <p class="text-sm-plus"><span class="text-weight-700">4.7/5 </span> sur 2500 avis </p>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <a href="" target="_blank">
                <img src="https://logojinni.com/image/logos/google%20play%20store-472.svg" loading="lazy" alt="Logo Play store" class="mr-3 brand-logo">
            </a>
            <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/4.5_stars.svg/1024px-4.5_stars.svg.png" loading="lazy" alt="Note Play store" class="rating-star">
                <p class="text-sm-plus"><span class="text-weight-700">4.7/5 </span> sur 850 avis</p>
            </div>
        </div>

    </div>

    <div class="owl-carousel owl-theme reviews-listing">
    <div class="card white-card shadow-card review p-5 d-flex">
    <img src="https://i.goopics.net/sghwu1.png" loading="lazy" alt="Icone guillemets" class="quote-badge">

    <div class="mr-2 author">

        <img src="https://cdn.pixabay.com/photo/2016/11/21/12/42/beard-1845166_960_720.jpg" loading="lazy" alt="Avatar utilisateur" class="lg-picture full-rounded mb-3">


        <p class="text-weight-700 mb-2">Bernard</p>
        <div class="d-flex align-items-start">
            <div class="text-secondary-color text-sm-plus">
                <p>Biarritz</p>
            </div>
        </div>

    </div>
    <p class="text-sm-plus font-italic mx-2 text content">
Surfing is a surface water sport in which an individual, a surfer or two in tandem surfing, uses a board to ride on the forward section, or face, of a moving wave of water, which usually carries the surfer towards the shore.    </p>
</div>
<div class="card white-card shadow-card review p-5 d-flex">
    <img src="https://i.goopics.net/sghwu1.png" loading="lazy" alt="Icone guillemets" class="quote-badge">

    <div class="mr-2 author">

        <img src="https://cdn.pixabay.com/photo/2016/11/18/19/07/happy-1836445_960_720.jpg" loading="lazy" alt="Avatar utilisateur" class="lg-picture full-rounded mb-3">


        <p class="text-weight-700 mb-2">Arnaud</p>
        <div class="d-flex align-items-start">
            <div class="text-secondary-color text-sm-plus">
                <p>La Rochelle</p>
            </div>
        </div>

    </div>
    <p class="text-sm-plus font-italic mx-2 text content">
Surfing is a surface water sport in which an individual, a surfer or two in tandem surfing, uses a board to ride on the forward section, or face, of a moving wave of water, which usually carries the surfer towards the shore.    </p>
</div>
<div class="card white-card shadow-card review p-5 d-flex">
    <img src="https://i.goopics.net/sghwu1.png" loading="lazy" alt="Icone guillemets" class="quote-badge">

    <div class="mr-2 author">

        <img src="https://cdn.pixabay.com/photo/2016/11/29/04/59/woman-1867431_960_720.jpg" loading="lazy" alt="Avatar utilisateur" class="lg-picture full-rounded mb-3">


        <p class="text-weight-700 mb-2">Marie</p>
        <div class="d-flex align-items-start">
            <div class="text-secondary-color text-sm-plus">
                <p>Hendaye</p>
            </div>
        </div>

    </div>
    <p class="text-sm-plus font-italic mx-2 text content">
Surfing is a surface water sport in which an individual, a surfer or two in tandem surfing, uses a board to ride on the forward section, or face, of a moving wave of water, which usually carries the surfer towards the shore.    </p>
</div>
</section>

    <section class="container container-large mosaic">

    <div class="mx-auto mb-4 text-center w-50">
        <h2 class="mb-2 text-xl text-weight-700">Surfbody so far...</h2>
    </div>

    <div class="mosaic-pictures">


        <div class="card featured-col md-rounded">
            <picture>
                <source srcset="https://cdn.radiofrance.fr/s3/cruiser-production/2021/08/696b8bea-3893-4a18-b549-515a4c641d93/838_gettyimages-982747408.jpg" type="image/jpg">
                <img src="ihttps://cdn.radiofrance.fr/s3/cruiser-production/2021/08/696b8bea-3893-4a18-b549-515a4c641d93/838_gettyimages-982747408.jpg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="card long-card md-rounded">
            <picture>
                <source srcset="https://www.nomads-surfing.com/wp-content/uploads/2020/07/lookbook-evo.jpg" type="image/jpg">
                <img src="https://www.nomads-surfing.com/wp-content/uploads/2020/07/lookbook-evo.jpg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="p-3 card deep-blue-card d-flex flex-column-reverse justify-content-center align-items-center md-rounded">
            <div class="md-icon">
                <img src="https://i.goopics.net/8geyyv.png" loading="lazy" alt="" class="w-100">
            </div>
            <span class="text-lg text-center text-white text-weight-700">10 000</span>
            <p class="text-center text-white text-weight-700 text-md-plus">Contributions</p>
        </div>

        <div class="card featured-col md-rounded">
            <picture>
                <source srcset="https://static1.terrafemina.com/articles/0/35/02/40/@/520616-le-surf-peut-etre-une-forme-de-therapie-953x0-2.jpg" type="image/jpg">
                <img src="https://static1.terrafemina.com/articles/0/35/02/40/@/520616-le-surf-peut-etre-une-forme-de-therapie-953x0-2.jpg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="p-3 card deep-blue-card d-flex flex-column-reverse justify-content-center align-items-center featured-col md-rounded">
            <div class="md-icon">
                <img src="https://i.goopics.net/ueqpjj.png" loading="lazy" alt="Icone mouillage" class="w-100">
            </div>
            <span class="text-lg text-center text-white text-weight-700">+260</span>
            <p class="text-center text-white text-weight-700 text-md-plus">Surf spots</p>
        </div>

        <div class="card featured-col md-rounded">
            <picture>
                <source srcset="https://www.costarica-voyage.com/wp-content/uploads/adobestock-247729715-1280x800.jpeg" type="image/jpg">
                <img src="https://www.costarica-voyage.com/wp-content/uploads/adobestock-247729715-1280x800.jpeg" loading="lazy" alt="" class="card-img">
            </picture>
        </div>

        <div class="p-3 card deep-blue-card d-flex flex-column-reverse justify-content-center align-items-center md-rounded">
            <div class="md-icon">
                <img src="https://i.goopics.net/r13jx8.png" loading="lazy" alt="" class="w-100">
            </div>
            <span class="text-lg text-center text-white text-weight-700">+4000</span>
            <p class="text-center text-white text-weight-700 text-md-plus">Users</p>
        </div>

    </div>
</section>

<footer class="mt-6 text-white background-radar">
    <div class="container py-5">
        <div class="row">
            <div class="mb-4 col-12 mobile-stores">
                <p class="mb-3 text-center text-weight-500">Disponible sur</p>
                <div class="d-flex justify-content-center">
                    <div>
                        <img src="https://www.petitprof.fr/wp-content/uploads/2019/11/App-Store-Logo_0.png" loading="lazy" alt="Logo Apple store" class="mx-3 pointer"/>
                    </div>
                    <div>
                        <img src="https://logodix.com/logo/40323.png" loading="lazy" alt="Logo Play store" class="mx-3 mt-3 pointer"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 infos">
                <img src="https://i.goopics.net/qv9gxn.png" loading="lazy" alt="Logo Navily"
                     class="mb-2 logo">
                <div class="mb-3 social">
                    <ul class="d-flex align-items-center text-md-plus text-main-light-color p-0">
                        <li class="mr-3">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="mr-3">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="mr-3">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <p class="text-sm-plus">Surbody is the leading community surf guide in Europe with over 10,000 contributions. Surf the most beautiful waves of your region with peace of mind in 3 clicks.</p>
                <div class="mb-3 mobile-social">
                    <ul class="d-flex align-items-center text-md-plus text-main-light-color p-0">
                        <li class="mr-3">
                          <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="mr-3">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="mr-3">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 offset-lg-1 d-flex menus">
                <nav>
                    <p class="mb-3 text-weight-700">Navigation</p>
                    <ul class="text-main-light-color p-0">
                        <li class="mb-2">
                            <a href="" title="Page d'accueil">Homepage</a>
                        </li>
                        <li class="mb-2">
                            <a href="" title="Explorer la carte">Explore the map</a>
                        </li>
                        <li class="mb-2">
                            <a href="" title="Blog" target="_blank">Blog</a>
                        </li>
                    </ul>
                </nav>

                <nav>
                    <p class="mb-3 text-weight-700">Account</p>
                    <ul class="text-main-light-color p-0">
                        <li class="mb-2">
                            <a href="fr/navily-premium.html" title="Navily Premium">Surfbody</a>
                        </li>
                    </ul>
                </nav>

                <div class="stores">
                    <p class="mb-3 text-weight-700">Discover the app</p>
                    <div class="d-flex flex-column">
                        <a href="" target="_blank">
                            <img src="https://www.petitprof.fr/wp-content/uploads/2019/11/App-Store-Logo_0.png" loading="lazy" alt="Logo Apple store" class="mb-2 pointer"/>
                        </a>
                        <a href="" target="_blank">
                            <img src="https://logodix.com/logo/40323.png" loading="lazy" alt="Logo Play store" class="pointer"/>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-lg-2 d-flex justify-content-end preview">
                <picture>
                    <source srcset="https://i.goopics.net/2acsd7.png" type="image/jpg">
                    <img src="https://i.goopics.net/2acsd7.png" loading="lazy" alt="Smartphone">
                </picture>
            </div>
        </div>
    </div>

</footer>
