    <header>
        <div class="header--controls">
            <button><img src="/assets/back.svg" alt="Retour"></button>
            <button><img src="/assets/heart.svg" alt="J'aime"></button>
        </div>
    </header>
    <main>
        <div class="description1">
            <h1>Lacanau</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="tagss">
                <span class="tagg">Lorem ipsum</span>
                <span class="tagg">Lorem ipsum</span>
                <span class="tagg">ipsum</span>
                <span class="tagg">Tags</span>
            </div>
        </div>
        <div class="sliderr">
            <button class="active">01h</button>
            <button>04h</button>
            <button>07h</button>
            <button>10h</button>
            <button>13h</button>
            <button>16h</button>
            <button>19h</button>
            <button>22h</button>
        </div>
        <div class="weather">
            <div class="wind">
                6 kts
            </div>
            <div class="cloud">
                0.8m
            </div>
            <div class="cloud">
                0.8m
            </div>
        </div>
        <div class="rating">
            <div class="rate">Beginer <span>5⭐️</span></div>
        </div>
        <div class="button3">
            Book this time
        </div>
        <div class="bg-green"></div>
        <div class="commentss">
            <div class="commentt">
                <img src="/assets/user1.png" alt="Photo de profil">
                <div>
                    <h6>Théo</h6>
                    <time datetime="1995-12-04">12 avril 1995</time>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="commentt">
                <img src="/assets/user2.png" alt="Photo de profil">
                <div>
                    <h6>Cassie</h6>
                    <time datetime="1995-12-04">12 avril 1995</time>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
        </div>
    </main>
