.btn{
  padding: 10px !important;
}

.button-custom{
  background-color: #42C2FF !important;
  color: white !important;
  width: 50%;
}
.button-custom:hover{
  background-color: white !important;
  color: #42C2FF !important;
}

.button-custom-large{
  background-color: #42C2FF !important;
  color: white !important;
  width: 100% !important;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px !important;
  border-radius: 4px !important;
  height: max-content !important;
}

