.button{
  background-color: $figmablue;
  border-radius: 10px;
  color: white;
}
.button-small{
  width: 50%;
  margin: 0 auto 0 auto;
}
.button-large{
  width: 100%;
  padding: 20px;
  display: block;
  text-align: center;
}
.button-small p{
  padding: 5px;
}
.button-light{
  background-color: white;
  border-radius: 10px;
  color: $figmablue;
  border: 1px solid $figmablue;
  padding: 5px;
  text-align: center;
  width: 50%;
}
.button-secondary{
  border-radius: 10px;
  color: #6c757d;
  border: 1px solid #6c757d;
  padding: 7px;
}
.button-secondary p{
  padding: 5px;
}
.button-custom{
  background-color: $figmablue !important;
  color: white;
}
