.spot-card{
  background-color: white;
  min-height: 150px;
  width : 100vw;
  max-height : calc(100vh - 66px - 568.4px)
}
.spot-card-img{
  border-radius: 20px;
  padding: 15px;
}
.spot-card-details{
  padding: 15px;
  width : 100vw;
}
.spot-card-h2{
  font-size: 25px;
  font-weight: 700;
}
.spots-left{
  display: flex;
  overflow-x: scroll;
}
.col{
  white-space: nowrap;
}
