.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat
}

.wrapper-search-icon {
  cursor: pointer
}

.wrapper-search-icon .icon {
  width: 24px
}

.fixed-top {
  top: 0
}

header .menu-mobile {
  display: none;
  position: relative
}

header .menu-mobile .wrapper-search-icon {
  cursor: pointer
}

header .menu-mobile .wrapper-search-icon .icon {
  width: 24px
}

@media (max-width:991px) {
  header .menu-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center
  }
}

header .menu-mobile #menuToggle span {
  background-color: #113a73
}

.dropdown-toggle:after,
.dropdown-toggle:before {
  display: none !important
}

.dropdown-menu {
  min-width: 30px;
  padding: 5px
}

.dropdown-menu a {
  padding: 6px 10px
}

.dropdown-menu img {
  max-width: 25px;
  vertical-align: middle
}

#menuToggle {
  position: relative;
  top: -12px
}

#menu-icon {
  position: relative;
  width: 33px;
  z-index: 100;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer
}

#menu-icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 9px;
  left: 0;
  transition: .25s ease-in-out
}

#menu-icon span:first-child {
  top: 0
}

#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  top: 10px
}

#menu-icon span:nth-child(4) {
  top: 20px
}

#menu-icon.open span:first-child {
  top: 10px;
  width: 0;
  left: 50%
}

#menu-icon.open span:nth-child(2) {
  transform: rotate(45deg)
}

#menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg)
}

#menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%
}

#menu {
  position: absolute;
  width: 350px;
  top: -25px;
  padding: 85px 45px 45px;
  right: calc(-350px - 3rem);
  background: #fff;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transition: transform .5s cubic-bezier(.77, .2, .05, 1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .18)
}

header .wrapper-logo {
  width: 130px;
  margin-right: 30px
}

@media (max-width:1350px) {
  header .wrapper-logo {
      margin-right: 15px
  }
}

@media (max-width:991px) {
  header .wrapper-logo {
      position: relative
  }
}

.px-4 {
  padding-right: 1.5rem !important
}

header .menu-mobile .wrapper-search-icon {
  cursor: pointer
}

header .menu-mobile .wrapper-search-icon .icon {
  width: 24px
}

.btn1 {
  display: inline-block;
  font-weight: 700;
  color: #002b57;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .btn1 {
      transition: none
  }
}

.btn1:hover {
  color: #023161;
  text-decoration: none
}

.btn1-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}


.btn1-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}


.btn1-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}


.btn1-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107
}


.btn1-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}

.btn1-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}


.btn1-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
}


.btn1-outline-primary {
  color: #007bff;
  border-color: #007bff
}

.btn1-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff
}


.btn1-outline-secondary {
  color: #6c757d;
  border-color: #6c757d
}

.btn1-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}


.btn1-outline-success {
  color: #28a745;
  border-color: #28a745
}

.btn1-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745
}

.btn1-outline-info {
  color: #17a2b8;
  border-color: #17a2b8
}

.btn1-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8
}


.btn1-outline-warning {
  color: #ffc107;
  border-color: #ffc107
}

.btn1-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107
}

.btn1-outline-danger {
  color: #dc3545;
  border-color: #dc3545
}

.btn1-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}


.btn1-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa
}

.btn1-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa
}


.btn1-outline-dark {
  color: #343a40;
  border-color: #343a40
}

.btn1-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
}


.btn1-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none
}

.btn1-link:hover {
  color: #0056b3
}


.btn1-group-lg>.btn,
.btn1-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem
}

.btn1-group-sm>.btn,
.btn1-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem
}

.btn1-block {
  display: block;
  width: 100%
}

.btn1-block+.btn-block {
  margin-top: .5rem
}


