.profile-container{
    font-family: "Roboto", "Nunito", "Helvetica", "sans-serif";
    font-weight: 500;
    color: #6b6969;
}


.profile-head-container{
    display: flex;
    padding-left: 12px;
}

.profile-head-container-right{
    margin-left: 16px;
}

.profile-favorite-container{
    padding-left: 16px;
    border: 1px solid gray;
    position: relative;
    h2{
        text-decoration: none;
    }
}

.profile-booking-container{
    padding-left: 16px;
    border: 1px solid gray;
    position: relative;
    h2{
        text-decoration: none;
    }
}

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      align-items: center;
    }
}

.cursor{
    margin-left: 7px;
    cursor: pointer;
}