.profile-head-container{
    display: flex;
    padding-left: 12px;
}

.profile-head-container-right{
    margin-left: 16px;
}

.profile-favorite-container{
    border: 1px solid gray;
    position: relative;
    h2{
        text-decoration: none;
    }
}

.profile-booking-container{
    border: 1px solid gray;
    position: relative;
    // align-items: center;
    // justify-content: center;
    h2{
        text-decoration: none;
    }
}

.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      align-items: center;
    }
}

.cursor{
    margin-left: 7px;
    cursor: pointer;
}