.review-card{
  background-color: white;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-shadow: 3px 3px 10px rgba(175, 175, 175, 0.308);
}

.review-card .review-header{
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
.review-img{
  padding-right: 10px;
}

.review-card .review-header img{
  width : 75px;
  height: 75px;
}

.review-card .review-comment{
  font-style: italic;
}
