.show-container{
    color: rgb(107, 105, 105);
}

.tags-container{
    margin: 0px 8px;
    position: absolute;
}

.stat-container{
    margin: 4px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.308);
}

.reviews-container{
    padding: 8px;

}

.hours-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(5px, auto);
    li{
        margin: 0px;
    }
}

.sliderr {
    background-color: $lightblue;
    padding: 16px 5px;
    padding-left: 22px;
    display: flex;
    gap: 19px;
    overflow-x: scroll;
}

.average-rating-stars{

}

.nav {
    flex-wrap: nowrap !important;
}

.spot-card-details{
    position: relative;
}