
.contain {
    margin: 0 auto;
    max-width: 1200px;
    height: 25vh;    
  }
  
  .item {
    align-items: center;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
  }

  .sliderr {
    background-color: $lightblue;
    padding: 16px 5px;
    padding-left: 22px;
    display: flex;
    gap: 16px;
    overflow-x: scroll;
}