
.contain {
    margin: 0 auto;
    max-width: 1200px;
    height: 25vh;    
  }
  
  .item {
    align-items: center;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
  }