
.contain {
    margin: 0 auto;
    max-width: 1200px;
    height: 25vh;
  }

  .item {
    align-items: center;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
  }

  .sliderr {
    background-color: $light-gray;
    padding: 16px 5px;
    padding-left: 22px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.green{
    color:#7BB791;
  }
  .red{
    color:#E87773;
  }
  .orange{
    color:#F9C04E;
  }

  a.schedule:hover{
      color: $figmablue;
  }


  .nav-pills .nav-link{
    border-radius: 10px;
    border: 2px solid $figmablue;
    color: $figmablue;
  }

  .nav-pills .nav-link.active{
    background-color: $figmablue;
  }
