

.tags-container{
    margin: 0px 8px;
    position: absolute;
}


.tags-container-show {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
}

.tags-container-modal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tag-add{
    cursor: pointer;
    margin: 4px;
    border-radius: 10px;
    padding: 2px 5px;
    border: 1px solid $darkblue;

}

.card-tags{
    background-color: white;
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 10px;
    margin-left: 0px;
    &:hover{
        color: #aaaaaa;
        text-decoration: none;
      }
}

.card-tags-favorite{
    color: $darkblue;
    border: 1px solid $darkblue;
    &:hover{
        color: $darkblue;
        text-decoration: none;
      }
}
