.tagborder{
    // background-color: red;
    border: 2px solid rgba(119, 215, 253, 0.76);
    border-radius: 50px;
    padding: 4px;
    margin: 5px;
    color: gray;
    font-size: 1em;

}

.tags-container{
    width: 100%;
    background-color: white;
    align-items: center;
}