
.card2 {
  background-color: #ffffff;
  display: flex;
  gap: 18px;
  padding: 12px 14px;
  border-radius: 13px;
  width: 270px;
}
.card2 > img-cl {
  height: 100%;
}
.card2 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
h3 {
  color: #333333;
  font-size: 20px;
  letter-spacing: -.71px;

}
.card-details2 {
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
  color: #BDBDBD;
  font-size: 17px;
  letter-spacing: -.71px;
}
.card-details2 > div {
  display: flex;
  align-items: center;
  gap: 3px;
}
