
.card2 {
  background-color: #ffffff;
  display: flex;
  gap: 18px;
  padding: 12px 14px;
  border-radius: 13px;
  width: 270px;
  min-height: 140px;
}
.card2 > img {
  width: 80px;
}
.card2 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
h3 {
  color: #333333;
  font-family: "Circular Bold";
  font-size: 20px;
  letter-spacing: -.71px;

}
.card-details2 {
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
  color: #BDBDBD;
  font-family: "Circular Medium";
  font-size: 17px;
  letter-spacing: -.71px;
}
.card-details2 > div {
  display: flex;
  align-items: center;
  gap: 3px;
}
